#özgeçmişana{
    /*margin: 40px 100px;*/
    margin:65px 60px 40px 100px;
    margin-right: 100px;
    overflow: auto;
    word-wrap: break-word;
    border: 2px solid black;
   
    display: grid;
    grid-template-columns: 30% 70%;
    
}
#özgeçmiş1{
    background-color:gray;
    
    float: left;
    word-wrap: break-word;
    height: 525px;
}
#özgeçmiş1 h4{
    color: black;
}
#özgeçmiş1 p{
    margin: 0px;
}
#özgeçmiş1 img{
    border-radius: 100%;
    margin: 30px;
    max-width: 50%;
    
}
#özgeçmiş2{
    background-color: white;
    
    float: left;
    word-wrap: break-word;
    height: 525px;
   
}
#özgeçmiş2 h1{
    margin-top: 20px;
}
#meslek{
    padding: 10px;
    margin: 5px 30px;
    max-width: 100%;
    background-color: gray;
}
#meslek h4{
    color: white;
}
#özgeçmiş2 h5{
    margin: 0px 30px;
    text-decoration: underline
}
#özgeçmiş2 p{
    margin: 0px 30px;
}